/* Container to hold the images and radio buttons */
.form-check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Optional: adds spacing between items*/ 
    align-items: center;
    margin-bottom: 0.5rem;
}

/* Make each image and its radio button container take up a fixed width */
.form-check .form-check-input {
    margin-left: -1.5em;
    margin-right: 10px;
}

.attr_value_img {
    width: 100px;
    margin-bottom: 0.5rem;
}

.form-check {
    width: calc(25% - 10px); /* Adjust for 4 items per row; change to 33% for 3 items */
    margin: 0.5rem 5px;
}

