.products_attributes_filters {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
}

.products_attributes_filters h6 {
    margin: 0.25rem 0;
    font-size: 0.75rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc0;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: #f2f2f2; */
    color: #333;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Hover and active states for better interactivity */
.products_attributes_filters h6:hover,
.products_attributes_filters h6:focus {
    background-color: #e6e6e6; /* Slightly darker background on hover */
    border-color: #bbb; /* Darker border on hover */
}

.products_attributes_filters h6:active {
    background-color: #d9d9d9; /* Even darker background on active */
    border-color: #aaa; /* Darker border on active */
}


/* Additional styling for better user experience */
.products_attributes_filters input[type="checkbox"] {
    margin-right: 0.5rem;
}

.products_attributes_filters label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.products_attributes_filters .attribute-group {
    margin-bottom: 1rem;
}

.products_attributes_filters .attribute-group-title {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #444;
}
.btn-toggle {
    width: 100%;
    background: none;
    border: none;
    color: #000; /* Ensure font color is black */
    text-align: left;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 0.85rem;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.btn-toggle:hover,
.btn-toggle:focus {
    text-decoration: underline;
    color: #000; /* Ensure font color stays black 
}*/

.btn-toggle:focus {
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove focus box shadow */
}

.btn-toggle:active {
    color: #000; /* Ensure font color stays black */
    border: none; /* Remove any border on active state */
}

.btn-toggle .text {
    flex-grow: 1;
}

.btn-toggle .symbol {
    flex-shrink: 0;
    margin-left: auto;
}

/* Categorias */

.products_categories.mb-3 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
}

.products_categories.mb-3 h6 {
    margin: 0.25rem 0;
    font-size: 0.75rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc0;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s, border-color 0.3s;
}

.products_categories.mb-3 input[type="radio"] {
    margin-right: 0.5rem;
}

.products_categories.mb-3 label {
    display: flex;
    align-items: center;
}

.products_categories.mb-3 .nav-item {
    margin-bottom: 1rem;
}


/* Main category styles 
.wsale_products_categories_list > .nav > .nav-item > .accordion-header {
    display:none !important;
}*/

/* First level parent category styles 
.wsale_products_categories_list .accordion-collapse > .nav-item > .accordion-header {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc0;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s, border-color 0.3s;
    display:none;
}

.wsale_products_categories_list .accordion-collapse > .nav-item > .accordion-header:hover,
.wsale_products_categories_list .accordion-collapse > .nav-item > .accordion-header:focus {
    background-color: #e6e6e6;
    border-color: #bbb;
}

.wsale_products_categories_list .accordion-collapse > .nav-item > .accordion-header:active {
    background-color: #d9d9d9;
    border-color: #aaa;
}

/* First level child category styles 
.wsale_products_categories_list .accordion-collapse .accordion-collapse > .nav-item > .d-flex {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc0;
    margin-left: -1.5rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.wsale_products_categories_list .accordion-collapse .accordion-collapse > .nav-item > .d-flex:hover,
.wsale_products_categories_list .accordion-collapse .accordion-collapse > .nav-item > .d-flex:focus {
    background-color: #e6e6e6;
    border-color: #bbb;
}

.wsale_products_categories_list .accordion-collapse .accordion-collapse > .nav-item > .d-flex:active {
    background-color: #d9d9d9;
    border-color: #aaa;
}

.wsale_products_categories_list .nav-item.mb-1 > .d-flex {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc0;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.wsale_products_categories_list .nav-item.mb-1 > .d-flex:hover,
.wsale_products_categories_list .nav-item.mb-1 > .d-flex:focus { 
    background-color: #e6e6e6;
    border-color: #bbb;
}

.wsale_products_categories_list .nav-item.mb-1 > .d-flex:active { 
    background-color: #d9d9d9;
    border-color: #aaa
}

.form-check-input[type="radio"] {
    display:none;
  }*/

.products_categories.mb-3 {
    display:none;
}

option.css_not_available {
    display: none;
}

.breadcrumb-item.active {
    display: none;
}